<header class="page-header">
    <h1>How's it coming?</h1>
</header>

<% if @no_content %>

  <section class="no-content">
    <h3>No content.  Please check back later.</h3>
  </section>

<% else %>

  <section class="current-task-list">
    <div class="row">
      <div class="col-md-4">
        <h4>Backlog</h4>

        <% @tasks_backlog.each do |task| %>
          <%= task_card(task) %>
        <% end %>
      </div>

      <div class="col-md-4">
        <h4>In Progress</h4>

        <% @tasks_in_progress.each do |task| %>
          <%= task_card(task) %>
        <% end %>
      </div>

      <div class="col-md-4">
        <h4>Pending Deployment</h4>

        <% @tasks_review.each do |task| %>
          <%= task_card(task) %>
        <% end %>
      </div>
    </div>
  </section>

  <section class="changelog">
    <h4>Deployed (Changelog)</h4>

    <% @changelog.each do |date, tasks| %>
      <div class="row changelog-group">
        <div class="col-sm-12">
          <h4 class="changelog-date"><%= date %></h4>
          <% tasks.reverse.each do |task| %>
            <p class="changelog-entry">
              <%= task.name %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>

<% end %>

<footer class="row d-flex flex-column align-items-center page-footer">
  <p class="text-center">This site is open source and <a href="https://github.com/tradeio/hows-it-coming">available on our GitHub page</a>.  Content was last updated <%= @last_updated.try(:strftime, '%B %-d, %Y at %-I:%M%P %Z') || 'never' %>.</p>
  <p>&copy; <%= DateTime.now.strftime('%Y') %> Trade.io.  All rights reserved.</p>
</footer>
